/* All rigths reserved by Ernest Czaplewski*/

/* overral reset */

*{
    padding: 0;
    margin: 0;
}

/*cointainer - body */
body{
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 88vh;
    width: 100vw;
    font-family: 'Russo One';
    overflow: hidden;
    position: relative;
}

/* main & nav cointainer & nav animations*/

main{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12vh;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

nav{
    height: 12vh;
    font-size: 100px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    cursor: pointer;
    font-size: 0;
    transition: .3s;
}

.fa-bars{
    font-size: 50px;
    position: absolute;
    right: calc(150px - 25px);
    color: white;
    cursor: pointer;
}

.fa-bars.active{
    font-size: 50px;
    position: absolute;
    right: calc(150px - 25px);
    color: rgb(0, 140, 255);
    cursor: pointer;
}

nav:hover .text{
    text-shadow: 0 0 50px white;
}

nav:hover .css{
    text-shadow: 0 0 50px blue;
}

nav p{
    display: inline-block;
    font-size: 100px;
    transition: .3s;
}

nav p:nth-child(odd){
    animation: moving 10s linear infinite;
}

nav p:nth-child(even){
    animation: moving 10s linear infinite reverse;
}

nav .css{
    font-size: 50px;
    color: rgb(0, 140, 255);
}

@keyframes moving{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0);
    }
}

/* about button & section about & quit from section button */

a.buttonAbout{
    position: absolute;
    left: 10%;
    top: 50%;
    color: white;
    text-decoration-line: none;
    background: rgba(0, 140, 255, 0.8);
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    transform: translate(0, -50%);
    border-radius: 50px;
}

section.about{
    z-index: 1;
    position: absolute;
    top: -120%;
    left: 0%;
    background: rgba(0,0,0, 0.98);
    height: 100vh;
    width: 100vw;
    transition: .3s;
    text-align: center;
}

section.about.active{
    top: 0%;
    height: 100vh;
    width: 100vw;
}

section.about h1{
    color: white;
    font-size: 60px;
}

section.about h1 span{
    color: rgba(0, 140, 255, 0.8);
}

section.about p{
    font-size: 30px;
    color: white;
    margin: 50px;
}

section.about p .aboutcss{
    color: rgba(0, 140, 255, 0.8);
}

section.about p .abouthtml{
    color: rgb(251, 96, 40);
}

section.about p .aboutcss{
    color: rgba(0, 140, 255, 0.8);
}

section.about p .aboutjs{
    color: rgba(255, 213, 0, 0.8);
}

a.quit{
    border: 3px solid white;
    font-size: 50px;
    width: 60px;
}

a.quit:hover{
    letter-spacing: 0;
    color: white;
    box-shadow: 0 0 0 5px black, 0 0 0 10px rgba(0, 140, 255, 0.8);
    color: rgb(0, 140, 255);
}

.copy{
    position: absolute;
    color: white;
    font-size: 15px;
    left: 50%;
    top: 95%;
    transform: translate(-50%, 0);
}

/* aside - responvie solar system module */

aside{
    height: 100%;
    width: 80%;
    flex-grow: 1;
    position: relative;
}


/* sun texture & sun glowing animation & background stars */

div.sun{
    position: absolute;
    height: 100px;
    width: 100px;
    background: orange;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 200px 20px orange;
    animation: glowing 10s linear infinite;
}

@keyframes glowing{
    0%{
        box-shadow: 0 0 100px 25px orange;
    }
    25%{
        box-shadow: 0 0 200px 50px orange;
    }
    50%{
        box-shadow: 0 0 100px 25px orange;
    }
    75%{
        box-shadow: 0 0 200px 50px orange;
    }
    100%{
        box-shadow: 0 0 100px 25px orange;
    }
}

.star-one{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 15%;
    left: 5%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-two{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 5%;
    left: 30%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-three{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 80%;
    left: 12%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-four{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 50%;
    left: 25%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-five{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 35%;
    left: 15%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-six{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 50%;
    left: 80%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-seven{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 30%;
    left: 90%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-eight{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 20%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-nine{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 10%;
    left: 85%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

.star-ten{
    position: absolute;
    height: 1px;
    width: 1px;
    background: beige;
    top: 80%;
    left: 70%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px white;
}

/* planet radius & textures & orbit animation */

@keyframes radiusAnimation{
    0%{
      transform: translate(-50%, 0) rotate(0deg);
    }

    100%{
      transform: translate(-50%, 0) rotate(360deg);
    }
  }

.radiusMercury{
    position: absolute;
    height: 80px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusMercury.active{
    animation: radiusAnimation 0.88s linear infinite;

}

.mercury{
    position: absolute;
    height: 10px;
    width: 10px;
    background: brown;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.radiusVenus{
    position: absolute;
    height: 100px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusVenus.active{
    animation: radiusAnimation 2.25s linear infinite;

}

.venus{
    position: absolute;
    height: 10px;
    width: 10px;
    background: rgb(252, 228, 193);
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.radiusEarth{
    position: absolute;
    height: 125px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusEarth.active{
    animation: radiusAnimation 3.65s linear infinite;

}

.earth{
    position: absolute;
    height: 15px;
    width: 15px;
    background: skyblue;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.land-a{
    position: absolute;
    height: 3px;
    width: 3px;
    background: green;
    top: 10%;
    left: 50%;
}

.land-b{
    position: absolute;
    height: 5px;
    width: 3px;
    background: green;
    top: 15%;
    left: 15%;
}

.land-c{
    position: absolute;
    height: 5px;
    width: 5px;
    background: green;
    top: 45%;
    left: 55%;
}

.land-d{
    position: absolute;
    height: 2px;
    width: 2px;
    background: green;
    top: 60%;
    left: 25%;
}

.radiusMars{
    position: absolute;
    height: 150px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusMars.active{
    animation: radiusAnimation 6.87s linear infinite;

}

.mars{
    position: absolute;
    height: 13px;
    width: 13px;
    background: orangered;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.radiusJupiter{
    position: absolute;
    height: 185px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusJupiter.active{
    animation: radiusAnimation 43.5s linear infinite;

}

.jupiter{
    position: absolute;
    height: 25px;
    width: 25px;
    background: burlywood;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.stain{
    position: absolute;
    color: brown;
    font-size: 10px;
    top: 35%;
    left: 55%;
}

.radiusSaturn{
    position: absolute;
    height: 220px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusSaturn.active{
    animation: radiusAnimation 107.8s linear infinite;

}

.saturn{
    position: absolute;
    height: 22px;
    width: 22px;
    background: rgb(220, 192, 156);
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.ring{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: brown;
    width: 45px;
    height: 5px;
    border-radius: 50%;

}

.radiusUranus{
    position: absolute;
    height: 255px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusUranus.active{
    animation: radiusAnimation 306.4s linear infinite;

}

.uranus{
    position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(156, 220, 220);
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.radiusNeptun{
    position: absolute;
    height: 290px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transform-origin: 50% 0;
}

.radiusNeptun.active{
    animation: radiusAnimation 602.2s linear infinite;

}

.neptun{
    position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(39, 93, 174);
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}



/* section menu / hamburger */
section{
    width: 0%;
    height: 0%;
    transition: .3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0px solid black;
}
section.burger.active{
    box-sizing: border-box;
    width: 14%;
    height: 100%;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-top-color: black;
    border-bottom-color: black;
    border-right-color: black;
}

section a{
    text-decoration-line: none;
    color: white;
    font-size: 25px;
    width: 50%;
    border-radius: 50px;
    text-align: center;
    transition: .3s;
}

section a:hover{
    letter-spacing: 2px;
    color: rgb(0, 140, 255);
}

a.blue{
    color: rgb(0, 140, 255);
    letter-spacing: 2px;
}

section.warning{
    background: black;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

section.warning p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.warning h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.warning h2 span{
    color: rgba(0, 140, 255, 0.8);

}
@media(orientation: portrait){
    section.warning{
        background: black;
        display: block;
    }
}

/* @media (max-width: 1280px) and (min-height: 720px){ */
@media(max-width: 1600px) or (max-height: 900px){
    .copy{
        position: absolute;
        color: white;
        font-size: 12px;
        left: 50%;
        top: 95%;
        transform: translate(-50%, 0);
    }
    nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        color: white;
        text-align: center;
        letter-spacing: 10px;
        cursor: pointer;
        font-size: 0;
        transition: .3s;
    }
    nav p{
        display: inline-block;
        font-size: 50px;
        transition: .3s;
    }
    nav .css{
        font-size: 15px;
        color: rgb(0, 140, 255);
    }
    a.buttonAbout{
        position: absolute;
        left: 10%;
        top: 50%;
        color: white;
        text-decoration-line: none;
        background: rgba(0, 140, 255, 0.8);
        height: 50px;
        width: 100px;
        text-align: center;
        line-height: 50px;
        transform: translate(0, -50%);
        border-radius: 50px;
    }
    section a{
        text-decoration-line: none;
        color: white;
        font-size: 18px;
        width: 50%;
        border-radius: 50px;
        text-align: center;
        transition: .3s;
    }
    section.burger.active{
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid white;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: black;
    }
    a.blue{
        color: white;
        letter-spacing: 1px;
    }
}

/* @media (max-width: 965px) and (min-height: 720px){ */
@media (max-width: 1280px) or (max-height:720px){
    .copy{
        position: absolute;
        color: white;
        font-size: 10px;
        left: 50%;
        top: 95%;
        transform: translate(-50%, 0);
    }
    a.blue{
        color: white;
        letter-spacing: 0px;
    }
    a.buttonAbout{
        position: absolute;
        left: 10%;
        top: 50%;
        color: white;
        text-decoration-line: none;
        background: rgba(0, 140, 255, 0.8);
        height: 50px;
        width: 100px;
        text-align: center;
        line-height: 50px;
        transform: translate(0, -50%);
        border-radius: 50px;
    }
    section a{
        text-decoration-line: none;
        color: white;
        font-size: 15px;
        width: 50%;
        border-radius: 50px;
        text-align: center;
        transition: .3s;
    }
    section a:hover{
        color: white;
        letter-spacing: 0px;
    }
    nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        color: white;
        text-align: center;
        letter-spacing: 10px;
        cursor: pointer;
        font-size: 0;
        transition: .3s;
    }
    nav p{
        display: inline-block;
        font-size: 50px;
        transition: .3s;
    }
    nav .css{
        font-size: 15px;
        color: rgb(0, 140, 255);
    }
    section.about p{
        font-size: 30px;
        color: white;
        margin: 50px;
    }
    section.burger.active{
        box-sizing: border-box;
        width: 15%;
        height: 100%;
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid white;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: black;
    }
}

@media(max-height: 800px){
    .copy{
        position: absolute;
        color: white;
        font-size: 8px;
        left: 50%;
        top: 95%;
        transform: translate(-50%, 0);
    }
    a.blue{
        color: white;
        letter-spacing: 0px;
    }
    a.buttonAbout{
        position: absolute;
        left: 70%;
        top: 50%;
        color: white;
        text-decoration-line: none;
        background: rgba(0, 140, 255, 0.8);
        height: 50px;
        width: 100px;
        text-align: center;
        line-height: 50px;
        transform: translate(0, -50%);
        border-radius: 50px;
    }
    section a{
        text-decoration-line: none;
        color: white;
        font-size: 15px;
        width: 50%;
        border-radius: 50px;
        text-align: center;
        transition: .3s;
    }
    section a:hover{
        color: white;
        letter-spacing: 0px;
    }
    nav{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0, -25%);
        color: white;
        text-align: center;
        letter-spacing: 10px;
        cursor: pointer;
        font-size: 0;
        transition: .3s;
    }
    nav p{
        display: inline-block;
        font-size: 50px;
        transition: .3s;
    }
    nav .css{
        font-size: 25px;
        color: rgb(0, 140, 255);
    }
    section.about p{
        font-size: 20px;
        color: white;
        margin: 50px;
    }
    .fa-bars{
        font-size: 50px;
        position: absolute;
        right: calc(150px - 25px);
        color: white;
        cursor: pointer;
        left: 90%;
    }
    
    .fa-bars.active{
        font-size: 50px;
        position: absolute;
        right: calc(150px - 25px);
        color: rgb(0, 140, 255);
        cursor: pointer;
        left: 90%;
    }
    section.burger.active{
        box-sizing: border-box;
        width: 15%;
        height: 100%;
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid white;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: black;
    }
}

@media (max-height: 750px){
    .copy{
        left: 10%;
        font-size: 6px;
    }
    body{
        background: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 88vh;
        width: 100vw;
        font-family: 'Russo One';
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }
    a.blue{
        color: white;
        letter-spacing: 0px;
    }
    a.buttonAbout{
        position: absolute;
        left: 75%;
        top: 50%;
        color: white;
        text-decoration-line: none;
        background: rgba(0, 140, 255, 0.8);
        height: 30px;
        width: 60px;
        text-align: center;
        line-height: 30px;
        transform: translate(0, -50%);
        border-radius: 50px;
        display: none;
    }
    section a{
        text-decoration-line: none;
        color: white;
        font-size: 12px;
        width: 50%;
        border-radius: 50px;
        text-align: center;
        transition: .3s;
    }
    section a:hover{
        color: white;
        letter-spacing: 0px;
    }
    nav{
        position: absolute;
        top: 75%;
        width: 100vw;
        left: 1%;
        transform: translate(0, -50%);
        color: white;
        text-align: center;
        letter-spacing: 10px;
        cursor: pointer;
        font-size: 0;
        transition: .3s;
    }
    nav p{
        display: inline-block;
        font-size: 18px;
        transition: .3s;
    }
    nav .css{
        font-size: 12px;
        color: rgb(0, 140, 255);
    }
    section.about p{
        font-size: 15px;
        color: white;
        margin: 40px;
    }

    section.about h1{
        font-size: 30px;
        margin-top: 20px;
    }
    .fa-bars{
        font-size: 30px;
        position: absolute;
        right: calc(150px - 25px);
        color: white;
        cursor: pointer;
        left: 90%;
    }
    
    .fa-bars.active{
        font-size: 30px;
        position: absolute;
        right: calc(150px - 25px);
        color: rgb(0, 140, 255);
        cursor: pointer;
        left: 90%;
    }
    section.burger.active{
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid white;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: black;
    }
    a.quit{
        font-size: 20px;
        border: 3px solid white;
        width: 60px;
        margin-bottom: 25px;
    }

    div.sun{
        position: absolute;
        height: 50px;
        width: 50px;
        background: orange;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 200px 20px orange;
        animation: glowing 10s linear infinite;
    }
    .radiusMercury{
        position: absolute;
        height: 35px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusMercury.active{
        animation: radiusAnimation 0.88s linear infinite;
    
    }
    
    .mercury{
        position: absolute;
        height: 5px;
        width: 5px;
        background: brown;
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .radiusVenus{
        position: absolute;
        height: 45px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusVenus.active{
        animation: radiusAnimation 2.25s linear infinite;
    
    }
    
    .venus{
        position: absolute;
        height: 5px;
        width: 5px;
        background: rgb(252, 228, 193);
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .radiusEarth{
        position: absolute;
        height: 56px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusEarth.active{
        animation: radiusAnimation 3.65s linear infinite;
    
    }
    
    .earth{
        position: absolute;
        height: 7px;
        width: 7px;
        background: skyblue;
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .land-a{
        position: absolute;
        height: 1px;
        width: 1px;
        background: green;
        top: 10%;
        left: 50%;
    }
    
    .land-b{
        position: absolute;
        height: 1px;
        width: 1px;
        background: green;
        top: 15%;
        left: 15%;
    }
    
    .land-c{
        position: absolute;
        height: 1px;
        width: 1px;
        background: green;
        top: 45%;
        left: 55%;
    }
    
    .land-d{
        position: absolute;
        height: 1.5px;
        width: 1.5px;
        background: green;
        top: 60%;
        left: 25%;
    }
    
    .radiusMars{
        position: absolute;
        height: 67px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusMars.active{
        animation: radiusAnimation 6.87s linear infinite;
    
    }
    
    .mars{
        position: absolute;
        height: 7px;
        width: 7px;
        background: orangered;
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .radiusJupiter{
        position: absolute;
        height: 83px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusJupiter.active{
        animation: radiusAnimation 43.5s linear infinite;
    
    }
    
    .jupiter{
        position: absolute;
        height: 12px;
        width: 12px;
        background: burlywood;
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .stain{
        position: absolute;
        color: brown;
        font-size: 5px;
        top: 35%;
        left: 55%;
    }
    
    .radiusSaturn{
        position: absolute;
        height: 99px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusSaturn.active{
        animation: radiusAnimation 107.8s linear infinite;
    
    }
    
    .saturn{
        position: absolute;
        height: 11px;
        width: 11px;
        background: rgb(220, 192, 156);
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .ring{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: brown;
        width: 20px;
        height: 3px;
        border-radius: 50%;
    
    }
    
    .radiusUranus{
        position: absolute;
        height: 114px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusUranus.active{
        animation: radiusAnimation 306.4s linear infinite;
    
    }
    
    .uranus{
        position: absolute;
        height: 10px;
        width: 10px;
        background: rgb(156, 220, 220);
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    
    .radiusNeptun{
        position: absolute;
        height: 128px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transform-origin: 50% 0;
    }
    
    .radiusNeptun.active{
        animation: radiusAnimation 602.2s linear infinite;
    
    }
    
    .neptun{
        position: absolute;
        height: 10px;
        width: 10px;
        background: rgb(39, 93, 174);
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}
